<h1>burger</h1>

<h2>Burgers we have</h2>

<ul>
{{#each burgers}}
    <p><span class="label">burger</span> {{this.burger_name}}</p>
    <p><span class="label">burger</span> {{this.burger_name}}</p>
    <p><span class="label">burger</span> {{this.burger_name}}</p>
{{/each}}

    </ul>>